In [68]:
import pandas as pd
import re
import numpy as np

fire_dep = pd.read_csv('Seattle_Real_Time_Fire_911_Calls.csv')
contractors = pd.read_csv('L_I_Contractor_License_Data_-_General.csv')

In [69]:
fire_dep.head()

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number
0,904 7th Av,Car Fire,05/22/2019 12:55:00 PM,47.606900,-122.329051,POINT (-122.329051 47.6069),F190051945
1,9610 53rd Av S,Aid Response,05/22/2019 12:55:00 PM,47.515984,-122.266529,POINT (-122.266529 47.515984),F190051946
2,106 Pike St,Aid Response,05/22/2019 12:57:00 PM,47.608849,-122.339945,POINT (-122.339945 47.608849),F190051950
3,1902 2nd Av,Aid Response,07/01/2019 07:45:00 AM,47.610972,-122.340465,POINT (-122.340465 47.610972),F190068848
4,4737 Roosevelt Way Ne,Unk Odor,07/01/2019 07:45:00 AM,47.663338,-122.317421,POINT (-122.317421 47.663338),F190068849

In [70]:
contractors.head()

,BusinessName,ContractorLicenseNumber,ContractorLicenseTypeCode,ContractorLicenseTypeCodeDesc,Address1,Address2,City,State,Zip,PhoneNumber,...,BusinessTypeCodeDesc,SpecialtyCode1,SpecialtyCode1Desc,SpecialtyCode2,SpecialtyCode2Desc,UBI,PrimaryPrincipalName,StatusCode,ContractorLicenseStatus,ContractorLicenseSuspendDate
0,VIKING POOLS INC,VIKINPI066JF,CC,CONSTRUCTION CONTRACTOR,11506 Meridian Ave N,NaN,SEATTLE,WA,98133,2.066691e+09,...,Corporation,01,GENERAL,NaN,NaN,601530138,"JOHNSON, MIKAL WALTER",S,SUSPENDED,10/06/2021
1,OSBORNE LANDSCAPE,OSBORL*822QO,CC,CONSTRUCTION CONTRACTOR,812 N GRANITE AVE,NaN,GRANITE FALLS,WA,98252,4.255958e+09,...,Individual,BW,LANDSCAPING,NaN,NaN,604008069,"OSBORNE, ANGELA LYNN",A,ACTIVE,NaN
2,EARTHHEAT INC,EARTHI*792O7,PC,PLUMBING CONTRACTOR,PO BOX 819,NaN,DUVALL,WA,98019,4.257885e+09,...,Corporation,01,JOURNEY LEVEL,NaN,NaN,602593890,"MALONEY, GERARD JUDE",A,ACTIVE,NaN
3,TUMWATER DRILLING & PUMP INC,TUMWADP780US,EC,ELECTRICAL CONTRACTOR,P O BOX 249,NaN,DRYDEN,WA,98821,5.095485e+09,...,Corporation,3A,Domestic Pump,91,NaN,600164144,"Webb, Dennis O",A,ACTIVE,NaN
4,HOME ENERGY EXPERTS LLC,HOMEEEE831MK,CC,CONSTRUCTION CONTRACTOR,1110 NORTH 650 WEST,NaN,CENTERVILLE,UT,84014,8.553626e+09,...,Limited Liability Company,01,GENERAL,NaN,NaN,603500846,"CHRISTENSEN, DON SCOTT",A,ACTIVE,NaN

In [71]:
# Need to data clean with the steps below:
# lower
# remove punctuation

def apply_regex(address):
    '''Uses regular expressions to format the address data fora join.'''
    
    address = str(address)
    
    new_str = address.lower()
    end_str = re.sub(r'[^\w\s]', '', new_str)
    
    return end_str

print(apply_regex(contractors['Address1'][0]))

contractors['join_address'] = contractors['Address1'].apply(apply_regex)
fire_dep['join_address'] = fire_dep['Address'].apply(apply_regex)

11506 meridian ave n

In [72]:
# Need to get only the most recent contractor for each address in the contractors dataset. 
contractors['recency'] = contractors.sort_values(['LicenseEffectiveDate'])\
    .groupby(['join_address'])\
    .cumcount() + 1

# a recency of 1 is the newest record. 

contractors[contractors['join_address'] == '0607 sw idaho st'][['LicenseEffectiveDate', 'recency']]

contractors = contractors[contractors['recency'] == 1]

In [73]:
# Need to think about other data cleaning steps to improve the re-identification.

In [74]:
# Manages the join. 

joined_data = pd.merge(fire_dep, contractors, on = "join_address", how = 'left')
joined_data.sort_values(['recency']).head()

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number,join_address,BusinessName,ContractorLicenseNumber,...,SpecialtyCode1,SpecialtyCode1Desc,SpecialtyCode2,SpecialtyCode2Desc,UBI,PrimaryPrincipalName,StatusCode,ContractorLicenseStatus,ContractorLicenseSuspendDate,recency
63,1238 S KING ST,Aid Response,03/23/2022 11:23:00 AM,47.598337,-122.316495,POINT (-122.316495 47.598337),F220033866,1238 s king st,Action Jacob,ACTIOJ*827N7,...,01,GENERAL,NaN,NaN,604222186.0,"Dwyer, Jacob M",R,RE-LICENSED,03/12/2020,1.0
1374429,400 S Jackson St,Fire in Building,05/04/2021 07:36:00 AM,47.599197,-122.328968,POINT (-122.328968 47.599197),F210043866,400 s jackson st,SDV CONSTRUCTION LLC,SDVCOCL797D3,...,01,GENERAL,NaN,NaN,604711918.0,"VLAHOVICH, STEVEN D",S,SUSPENDED,02/17/2022,1.0
1374276,600 E Howell St,Medic Response,12/30/2021 07:22:00 PM,47.617746,-122.324505,POINT (-122.324505 47.617746),F210145497,600 e howell st,HENDERSON & ABRAHA PROPERTIES,HENDEAP868DR,...,01,GENERAL,NaN,NaN,603369759.0,"HENDERSON, RALPH",E,EXPIRED,03/10/2021,1.0
1374196,1818 E Madison St,Low Acuity Response,03/31/2022 11:47:00 PM,47.616245,-122.308579,POINT (-122.308579 47.616245),F220037339,1818 e madison st,S J P SERVICES,SJPSES*925DG,...,HM,HANDYMAN,NaN,NaN,602801306.0,"PAULIS, STEPHEN J",A,ACTIVE,NaN,1.0
1374149,7713 10th Ave Nw,Automatic Fire Alarm Resd,01/08/2021 08:22:00 PM,47.685163,-122.369339,POINT (-122.369339 47.685163),F210002461,7713 10th ave nw,M G H INC,MGHIN**031J2,...,01,GENERAL,NaN,NaN,601758571.0,"HAMSTRA, MICHAEL GENE",A,ACTIVE,NaN,1.0

In [75]:
# Calculates what percentage of fire department emergencies are linked to contractors. 

total_incidents = len(joined_data)
joined_incidents = len(joined_data[np.isnan(joined_data['recency']) == False])

In [76]:
print('Percent of the dataset identified: ', 100 * joined_incidents / total_incidents)

Percent of the dataset identified:  1.138138756789852

In [78]:
# need to think about joining on dates so that you only get incidents 
# that are after the contractor moved into the unit.